{% block loader %}
<style>
#circle {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 250;
    height: 150;
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 10px solid #09f;
	border-radius: 100%;
	animation: rotate 6s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
}

</style>
{% if wrong %}
<div align="center" style=" height: 30%;border: 8px solid #162534;font-size: 36px;color:red;background-color:white; ">
    <hr>

    <h1> The image is being processed! </h1>
    <h2 style="color:green"> Thank you for your patience. </h2>
</div>
{% endif %}
<div class="circle" style="visibility: hidden;">
    <div class="loader">
        <div class="loader">
            <div class="loader">
                <div class="loader">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
   function ShowLoader() {
     document.getElementById("circle").style.visibility = "visible";
     }


</script>
{% endblock loader %}