{% block loader %}
<style>
#circle {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 250;
    height: 150;
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 10px solid #09f;
	border-radius: 100%;
	animation: rotate 6s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
}

span {
  position: relative;
  top: 0.63em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 3.0s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 3.1s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 3.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 3.3s ease-in-out infinite;
  animation-delay: 1.5s;
}

.let5 {
  animation: drop 3.4s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 3.5s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 3.6s ease-in-out infinite;
  animation-delay: 1.8s;
}

.let8 {
  animation: drop 3.7s ease-in-out infinite;
  animation-delay: 1.8s;
}

.let9 {
  animation: drop 3.8s ease-in-out infinite;
  animation-delay: 1.8s;
}

.let10 {
  animation: drop 3.9s ease-in-out infinite;
  animation-delay: 1.8s;
}

.let11 {
  animation: drop 3.9s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}

</style>

{% if wrong %}
<div align="center" style="font-size: 36px;color:white; ">
    <h1>
        <span class="let1">P</span>
        <span class="let2">R</span>
        <span class="let3">O</span>
        <span class="let4">S</span>
        <span class="let5">S</span>
        <span class="let6">E</span>
        <span class="let8">S</span>
        <span class="let9">I</span>
        <span class="let10">N</span>
        <span class="let11">G</span>
    </h1>
    <br><br><br><br>
    <br>
    <h2 style="color:white"> Thank you for your patience. </h2>

</div>

{% endif %}
<div id="circle" style="visibility: hidden;">
    <!--    <div class="loader">-->
    <!--        <div class="loader">-->
    <!--            <div class="loader">-->
    <!--                <div class="loader">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <h2 style="color:red;">
        <span class="let1">U</span>
        <span class="let2">P</span>
        <span class="let3">L</span>
        <span class="let4">O</span>
        <span class="let5">D</span>
        <span class="let6">I</span>
        <span class="let7">N</span>
        <span class="let8">G</span>
    </h2>
</div>

<script>
   function ShowLoader() {
     document.getElementById("circle").style.visibility = "visible";
     }


</script>
{% endblock loader %}